body {
  margin: 0;
  background-color: slategray;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
#navbar {
  background-color: black;
  display: flex;
  align-items: center;
  color: white;
  padding: 0 1rem;
  height: 3.5rem;
}

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: 1px solid black;
}

#register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: 1px solid black;
}

#nav-buttons {
  display: flex;
  flex-direction: row;
  align-items: right;
  height: 3 rem;
  margin-right: 20px;
  position: absolute;
  right: 0;
}

#image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

#routine-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 20;
}

.routine-card {
  background-color: rgba(25, 201, 165, 0.1);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  text-align: center;
}

.allActivities {
  background-color: rgba(25, 201, 165, 0.1);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  text-align: center;
}
#activity-container {
  font-size: 0.7rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 50px;
}

#grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}
input {
  margin: 0.5rem;
  padding: 0.5rem;
}

label {
  margin: 0.5rem;
}

button {
  margin: 0.5rem;
  padding: 0.5rem;
}
